h2 {
  margin: 1rem 0;
}

.btn {
  margin: 1rem 0;
}

.btn-sm {
  margin: 0;
  
}

.small-button {
  padding: 0 0.5rem;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: green;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  padding: 10px;
  margin-bottom: 10px;
}